.a-resume {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);

  &__bg {
    width: 800px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    list-style-type: none;
    background-color: #fff;
    border: solid 4px #000;
    box-shadow: 8px 8px #000;
  }
}
